<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="icon" href="../assets/Blog-Acadamy-Logo.png" type="image/png">
    <title>Blog Academy</title>
    <link rel="stylesheet" href="{% static 'CSS/About.css' %}">
</head>

<body class="about">

    <header>
        <h1>Blog Académico</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Categoría 1</a></li>
                <li><a href="#">Categoría 2</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="main-content about">
        <h2>Acerca de nosotros</h2>
        <p>Bienvenido a nuestro blog académico. Somos un equipo apasionado por compartir conocimientos y experiencias en diversas áreas académicas. Nuestra misión es...</p>
    </section>
    
    <footer>
        <p>&copy; 2023 Blog Académico. Todos los derechos reservados.</p>
    </footer>
    
    </body>
</html>
