
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="icon" href="{% static 'img/Blog-Acadamy-Logo.png' %}" type="image/png">
    <title>Blog Academy</title>
    <link rel="stylesheet" href="{% static 'CSS/Blog.css' %}">
</head>
<body>

<header>
    <h1>Blog Académico</h1>
    <nav>
        <ul>
            <li><a href="/login">Categoría 1</a></li>
            <li><a href="#">Categoría 2</a></li>
            <li><a href="./about">Acerca de nosotros</a></li>
            <li><a href="./contact">Contacto</a></li>
        </ul>
    </nav>
</header>

<section class="main-content">
    <article>
        <h2>Titulo del Artículo 1</h2>
        <p class="meta">Publicado el 20 de noviembre de 2023</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue...</p>
        <a href="#">Leer más</a>
    </article>

    <article>
        <h2>Titulo del Artículo 2</h2>
        <p class="meta">Publicado el 18 de noviembre de 2023</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue...</p>
        <a href="#">Leer más</a>
    </article>

    <!-- Agrega más artículos según sea necesario -->

</section>

<footer>
    <p>&copy; 2023 Blog Académico. Todos los derechos reservados.</p>
</footer>

</body>
</html>
