<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Blog-Acadamy-Logo.png" type="image/png">
    <title>Blog Academy</title>
    <link rel="stylesheet" href="../CSS/Blog.css">
</head>
<body class="contact">

    <header>
        <h1>Blog Académico</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Categoría 1</a></li>
                <li><a href="#">Categoría 2</a></li>
                <li><a href="about.html">Acerca de nosotros</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="main-content contact">
        <h2>Contacto</h2>
        <p>¡Nos encantaría saber de ti! Puedes contactarnos a través del siguiente formulario o usando la información de contacto proporcionada.</p>
    
        <form id="contactForm">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
    
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
    
            <button type="submit">Enviar mensaje</button>
        </form>
    </section>
    
    <footer>
        <p>&copy; 2023 Blog Académico. Todos los derechos reservados.</p>
    </footer>
    
    </body>
</html>
